_build.*
.sconsign.dblite
.sconf_temp
*.dylib
*.o
*.os
*.pyc
*.so
.DS_Store
config.log
tests/.tests
Dups/*.cfgc
version.py
*.dSYM
*.fits
simdatabase/CANDELS/*
simdatabase/CANDELS814/*
simdatabase/CANDELS125/*
simdatabase/doneall2/*
simdatabase/ivydoneall3/*
