
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

_build.*
.sconsign.dblite
.sconf_temp
*.dylib
*.o
*.os
*.pyc
*.so
*~
#*
*#
.DS_Store
config.log
tests/.tests
Dups/*.cfgc
version.py
*.dSYM

# Ignore all galaxy postage stamps
*.fits
!physics_settings/*.fits
!useful_scripts/*.fits
simdatabase/CANDELS/*
simdatabase/CANDELS814/*
simdatabase/CANDELS125/*
simdatabase/doneall2/*
simdatabase/ivydoneall3/*

jedicatalog
jediconvolve
jedidistort
jedigrid_a
jedigrid_b
jedinoise
jedipaste
jedirescale
jeditransform
jedimaster\ copy.py
jedimaster_grid\ copy.py
